@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root
{
    --light: #ffffff;
    --dark: #000000;
    --greyDark: #696969;
    --greyMid: #6969696a;
    --greyLight: #686868;
    --KindleBackground: #ffefd5;
    --textNormal: 1.18rem;
    --textHeading: 1.4rem;
    --textHighlight: 1.6rem;
}

*
{
    font-family: 'Playfair Display';
    font-size: var(--textNormal);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: var(--black);
    background-color: var(--KindleBackground);
}

html
{
    margin-top: 8%;
    margin-left: 19%;
}

main
{
    display: inline;
}

.heading
{
    background-color: var(--greyDark);
    background-image: url(https://picsum.photos/id/870/200/350);
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 200px;
    height: 300px;
    border: 2px solid var(--black);
    border-radius: 0rem;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    margin: 1.2rem 1.2rem 1.2rem 1.2rem;
}

.para1
{
    background-color: var(--greyMid);
    background-image: url(https://picsum.photos/id/870/220/310?grayscale&blur=1);
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 220px;
    height: 300px;
    border: 2px dotted var(--black);
    border-radius: 1.1rem;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    margin: 1.2rem 1.2rem 1.2rem 1.2rem;
}

.para2
{
    color: var(--dark);
    background-image: url(https://picsum.photos/240/300?grayscale&blur=2);
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    border: 1px dashed var(--black);
    border-radius: 1.2rem;
    width: 240px;
    height: 300px;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    margin: 1.2rem 1.2rem 1.2rem 1.2rem;
}